html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header {
  padding-left: 20px;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.scene {
  position: relative;
  flex: 2;
  margin: 20px;
}

.status {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 5px;
}

canvas {
  border-bottom: 1px solid #e8e8e8;
}

.side {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 20px;
}

.source {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.source textarea {
  flex: 1;
}

.actions {
  flex: 0;
  margin-top: 20px;
}

.settings {
  flex: 1;
  margin-top: 20px;
}

.setting {
  margin-top: 10px;
}

.setting .title {
  margin-bottom: 5px;
}

input[type="radio"],
input[type="checkbox"] {
  margin-left: 0;
  margin-right: 0;
}

label {
  margin-right: 5px;
  vertical-align: top;
}
