/* General */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #EEEEEE;
  font-size: 14px;
}

* {
  color: #222222;
  font-family: "Courier New", Courier, monospace;
}

input[type="radio"],
input[type="checkbox"] {
  margin-left: 0;
  margin-right: 0;
}

label {
  margin-right: 5px;
  vertical-align: top;
}

/* Page structure */

.header {
  text-align: right;
  padding: 10px 15px 0 0;
}

.header .title {
  margin-right: 30px;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.scene {
  position: relative;
  flex: 2;
  margin: 10px;
}

.side {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 10px;
}

.forkme {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  width: 120px;
}

/* Sections */

/* Status */

.status {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 5px;
  color: #777;
}

.status.error {
  background-color: rgba(247, 143, 143, 0.4);
  color: #a50000;
}

/* Side navigation */

.source {
  display: flex;
  flex-direction: column;
  flex: 2;
  background: #fff;
  border: 2px solid #eee;
  border-radius: 5px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.05);
}

.tab-nav {
  margin: 0;
  padding: 1px 5px;
  list-style-type: none;
  background-color: #d8d8d8;
  border-bottom: 2px solid #f3f3f3;
}

.tab-nav li {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}

.tab-nav li.active {
  font-weight: bold;
}


.tab-nav li:hover {
  color: #76a005;
}

.tabs {
  flex: 1;
  display: flex;
}

.tab {
  display: none;
  padding: 10px;
  flex: 1;
}

.tab.active {
  display: flex;
}

.tab-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.tab-container .label {
  margin-top: 0;
  font-size: 14px;
  color: #a0a0a0;
}

/* Side - input tab */

.source-input {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
}

/* Side - Popular tab */

.popular {
  margin: 0;
  padding-left: 25px;
}

.popular li {
  cursor: pointer;
}

.popular li:hover {
  color: #76a005;
}

.popular li.active {
  color: #76a005;
  font-weight: bold;
}

/* Side - URL tab */

.source-url {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 3px;
}

/* Side - actions */

.actions {
  flex: 0;
  margin-top: 20px;
  padding-left: 2px;
}

.button-draw {
  border: 1px solid #7fab07;
  background-color: #719807;
  background-image: linear-gradient(to bottom,#8aba08,#719807);
  color: #fff;
  border-radius: 3px;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 16px;
}

/* Side - settings */

.settings {
  flex: 1;
  margin-top: 20px;
  background: #fff;
  border: 2px solid #eee;
  border-radius: 5px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.05);
  padding: 0px 15px;
}

.setting {
  margin-top: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

.setting .title {
  margin-bottom: 5px;
}
